body{
	background-color: #222
}

.go-back {
    font-size: 500px;
    font-weight: bold;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
