body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
}

.go-back {
    font-size: 250px;
    font-weight: bold;
    text-align: center;
    color: white;
}